
/* Structure
 * ------------------------------------------------------------- */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-text-size-adjust: 100%; 
}

body {
	font-family: Verdana, sans-serif;
	line-height: 1.5;
	background: #fff;
	color: #333;
}

.wrapper {
	width: 90%;
	max-width: 1024px;
	margin: 2em auto;
}

/* Typography
 * ------------------------------------------------------------- */

h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: bold;
}

strong {
	width: 100px;
	display: inline-block;
}

code {
	font-family: monospace;
	color: #777;
}

/* Lists
 * ------------------------------------------------------------- */

ul {
	list-style: none;
	margin: 0 0 2em 0;
	padding: 0;
}

li {
	font-size: 16px;
	line-height: 1.7;
}

.social_buttons li {
	display: inline-block;
	margin-right: 8px;
}

/* Accessibility
 * ------------------------------------------------------------- */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute !important;
	height: 1px;
	width: 1px;
}

:focus .screen-reader-text {
	display: block;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	z-index: 100000; 

	width: auto;
	height: auto;
	clip: auto;
	padding: 0.7em 2em;

	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: normal;

	background-color: red;
	border-radius: 3px;
	color: #fff;
}

/* Twitter
 * ------------------------------------------------------------- */

.twitter__timeline {
	width: 45%;
	float: left;
}

.twitter__timeline:last-of-type {
	margin-left: 10%;
}

.twitter__timeline div {
	padding: 16px;
	border: 3px solid #ccc;
}